@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-image: url('buku.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

input, button {
    font-size: 16px;
}

.head_bar {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0044cc; 
    color: white;
}

main {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

section {
    width: 45vw;
    border-radius: 20px;
    background: linear-gradient(100deg, #0011aa 104.82%, #0011aa 104.82%); 
}

.judul_buku {
    background-color: #001188; 
    padding: 10px;
    border-radius: 15px;
}

.isi_judul {
    margin: 20px;
}

.input_section {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.judul_buku h2 {
    text-align: center;
    color: white;
}

.input_section .isi_judul form .input {
    margin: 20px 0;
}

.input_section .isi_judul form button {
    background-color: #0066cc; 
    color: white;
    border: 0;
    border-radius: 20px;
    float: right;
    display: block;
    width: 30%;
    padding: 8px;
    cursor: pointer;
    font-weight: bold;
}

.input_section .isi_judul form .input input {
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 15px;
    margin-top: 10px;
    border: #0066cc;
    background-color: #b3d9ff;
}

.input_section .isi_judul form .input label {
    color: white;
    font-weight: bold;
}

.input_section .isi_judul form .input_inline {
    margin: 12px 0;
    display: flex;
    gap: 10px;
    align-items: center;
}

.input_section .isi_judul form .input_inline label {
    color: white;
    font-weight: bold;
    margin-right: 10px;
}

.search_section form {
    display: grid;
    grid-template-columns: auto 0.2fr 0fr;
    grid-gap: 10px;
}

.search_section form label {
    display: flex;
    align-items: center;
}

.search_section p {
    text-align: center;
    color: white;
    font-weight: bold;
    margin-top: 28px;
    margin-bottom: 10px;
}

.search_section form input {
    padding: 8px;
    background-color: #b3d9ff; 
    border: #0066cc; 
    border-radius: 20px;
}

.search_section form button {
    background-color: #0044cc;
    font-weight: bold;
    color: white;
    border: #b3d9ff;
    border-radius: 20px;
    cursor: pointer;
}

footer {
    text-align: center;
    background-color: #001188;
    padding: 20px;
    color: white;
    font-size: small;
}

footer a {
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {
    .head_bar {
        padding: 20px;
    }

    main {
        padding: 20px;
    }

    section {
        width: 90%;
    }

    .input_section .isi_kotak form button {
        width: 50%;
    }

    .search_section form {
        grid-template-columns: auto 1fr;
    }

    .search_section p {
        margin-top: 20px;
        margin-bottom: 8px;
    }
}

@media (max-width: 1024px) {
    .head_bar {
        padding: 25px;
    }

    main {
        padding: 25px;
    }

    section {
        width: 90%;
    }

    .search_section form input {
        width: 100%;
    }

    .search_section form button {
        width: 20vw;
    }
}
